<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <title>Spring Security Example</title>

    <link rel="stylesheet" th:href="@{/style/mycss.css}" type="text/css"/>

</head>
<body>
<h1>Willkommen</h1>

<a href="/users"><button type="button">Nutzer</button></a>
<a href="/classes"><button type="button">Klassen</button></a>
<a href="/journal"><button type="button">Journal</button></a>

<style>
    .background-color {
        background-color: darkturquoise;
    }
</style>
</body>
</html>